<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"   package="com.cogniphi">

<!--🚨 2024-06-23: Permissions: Start 🚨-->
<!-- 
1)For Permissions Refer: https://developer.android.com/reference/android/Manifest.permission
2)Keep only the permissions used in your app  
-->
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

<uses-feature
android:name="android.hardware.camera"
android:required="false" />
<uses-permission android:name="android.permission.CAMERA" />

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
<uses-permission android:name="android.permission.USE_EXACT_ALARM" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
<!-- <uses-permission android:name="android.permission.ACCEPT_HANDOVER"/> -->
<!-- <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" /> -->
<!-- <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" /> -->
<!-- <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" /> -->
<!-- <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" /> -->
<!-- <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> -->
<!-- <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> -->
<!-- <uses-permission android:name="android.permission.BODY_SENSORS" /> -->
<!-- <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" /> -->
<!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->  
<!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
<!-- <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" /> -->
<!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> -->
<!-- <uses-permission android:name="android.permission.READ_CALENDAR" /> -->
<!-- <uses-permission android:name="android.permission.READ_CALL_LOG" /> -->
<!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
<!-- <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> -->
<!-- <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> -->
<!-- <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> -->
<!-- <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" /> -->
<!-- <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" /> -->
<!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
<!-- <uses-permission android:name="android.permission.RECEIVE_MMS" /> -->
<!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
<!-- <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" /> -->
<!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
<!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
<!-- <uses-permission android:name="android.permission.USE_SIP" /> -->
<!-- <uses-permission android:name="android.permission.UWB_RANGING" /> -->
<!-- <uses-permission android:name="android.permission.WRITE_CALENDAR" /> -->
<!-- <uses-permission android:name="android.permission.WRITE_CALL_LOG" /> -->
<!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->

<!--🚨 2024-06-23: Permissions: End 🚨-->

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      tools:targetApi="28"
      android:theme="@style/BootTheme">
      <meta-data
    android:name="com.supersami.foregroundservice.notification_channel_name"
    android:value="Sticky Title"
  />
  <meta-data
    android:name="com.supersami.foregroundservice.notification_channel_description"
    android:value="Sticky Description."
  />
  <meta-data
    android:name="com.supersami.foregroundservice.notification_color"
    android:resource="@color/blue"
  />
  <service android:name="com.supersami.foregroundservice.ForegroundService"></service>
  <service android:name="com.supersami.foregroundservice.ForegroundServiceTask"></service>

      <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="AIzaSyCHPaQI4Y4Lm9NZdSXXt3W4l_qqKAHM5x0"/>
      
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"    
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true"
        android:resizeableActivity="true"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity> 
     
       <!-- <activity
        android:name=".MainActivity"
        android:label="@string/app_name"    
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true"       
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
       </activity> -->




      
<meta-data  android:name="com.dieam.reactnativepushnotification.notification_foreground"
                    android:value="false"/>
        <!-- Change the resource name to your App's accent color - or any other color you want -->
        <meta-data  android:name="com.dieam.reactnativepushnotification.notification_color"
                    android:resource="@color/white"/> <!-- or @android:color/{name} to use a standard color -->
 
  <receiver android:name="io.invertase.firebase.notifications.RNFirebaseNotificationReceiver"/>
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver"   android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".services.LocationUpdateService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location">
        </service>


        <!--Referred : https://harunwangereka.medium.com/android-background-services-b5aac6be3f04-->
        <!--Referred : https://github.com/wangerekaharun/AndroidBackgroundSevices/tree/master-->
        <receiver
            android:name=".receivers.ResponseBroadcastReceiver"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name=".receivers.ResponseBroadcastReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ToastBroadcastReceiver"
            android:process=":remote" />

        <service
            android:name=".services.BackgroundIntentService"
            android:exported="false" />
    </application>
</manifest>
